 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.65), rgba(41,46,51,0.65)), url("images/Night-Minimalist-Wallpapers.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  width: 490px;
  margin: 165px auto 0;
}

.u-section-1 .u-image-1 {
  height: 201px;
  width: 357px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 64px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 858px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 798px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  height: 586px;
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 16px auto 0;
  padding: 17px 53px 17px 52px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 798px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-shape-1 {
  width: 202px;
  height: 202px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 55px auto 0 16px;
}

.u-section-2 .u-image-2 {
  width: 556px;
  height: 556px;
  background-image: url("images/z4564837401966_c2e026457a6de09edb108e20e55e4d31.jpg");
  background-position: 50% 100%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -130px 30px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 78px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -131px auto 0 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 798px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 265px;
  min-height: 86px;
  height: auto;
  margin: 16px 0 0 55px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 13px;
}

.u-section-2 .u-shape-3 {
  width: 108px;
  height: 108px;
  margin: 442px 72px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 658px;
  }

  .u-section-2 .u-image-1 {
    height: 469px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 658px;
  }

  .u-section-2 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 235px;
    margin-top: 190px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 658px;
  }

  .u-section-2 .u-group-1 {
    width: 253px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 33px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 339px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
  }

  .u-section-2 .u-shape-1 {
    width: 180px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-top: -108px;
  }

  .u-section-2 .u-shape-2 {
    width: 180px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2101px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 735px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1512px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-2 .u-image-1 {
    height: 452px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 952px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 938px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 113px;
  height: auto;
  margin: 30px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 3rem;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -7px calc(((100% - 1140px) / 2) + 338px) 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 320px);
}

.u-section-3 .u-image-1 {
  width: 374px;
  height: 528px;
  margin: -360px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-2 {
  width: 384px;
  height: 542px;
  margin: -546px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 69px);
  height: 119px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -70px 0 0 auto;
}

.u-section-3 .u-group-2 {
  min-height: 230px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1140px;
  margin: -38px auto 6px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 16px 52px 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 470px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    height: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 438px);
  }

  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 169px);
    margin-top: -71px;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 473px);
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 360px);
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 279px);
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 383px);
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 369px);
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 828px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 480px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 480px;
    margin-top: -498px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 469px);
    margin-top: -9px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 945px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px 434px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 945px;
  margin: 23px 0 54px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 708px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-4 .u-image-1 {
  width: 376px;
  height: 531px;
  margin: 17px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px auto 0 17px;
  padding: 16px 52px 17px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 708px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 1px 40px;
}

.u-section-4 .u-image-2 {
  height: 644px;
  margin: 0;
}

.u-section-4 .u-text-2 {
  text-align: left;
  margin: 13px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-4 .u-image-1 {
    height: 532px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-4 .u-image-2 {
    height: 640px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 312px;
    height: 441px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 492px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 735px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 659px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-5 .u-form-1 {
  height: 311px;
  width: 678px;
  margin: 74px auto 60px;
}

.u-section-5 .u-form-group-1 {
  margin-left: auto;
}

.u-section-5 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-5 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-5 .u-form-group-2 {
  margin-left: auto;
}

.u-section-5 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-5 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-5 .u-form-group-3 {
  margin-left: auto;
}

.u-section-5 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-5 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-5 .u-form-group-4 {
  margin-left: auto;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 29px 21px;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
    margin-top: 55px;
  }
}